<div class="page-section">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>PAGE NOT FOUND</mat-card-title>
      <mat-card-subtitle>404 ERROR</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Sorry, We couldn't find the page you're looking for.</p>
      <p>We suggest you to return to Main Section</p>
      <mat-divider></mat-divider>
      <button mat-raised-button color="accent" routerLink="/">
        Go to the Main Section
      </button>
    </mat-card-content>
  </mat-card>
</div>
